/*
.jimu-widget-bookmark .jimu-btn{
  float: none;
  margin: auto;
  width: 100%;
}

.FoldableTheme.green .jimu-widget-bookmark .btn-add{
  background-color: #80dbc5;
}

.FoldableTheme.cyan .jimu-widget-bookmark .btn-add{
  background-color: #d5d5d4;
}

.jimu-rtl .jimu-widget-bookmark .btn-add{
  left: 1px;
  right: auto;
}*/